body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#91fb9e;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
div{
	padding: 5px 10px;
}
li, form{
	padding: 5px;
	width:400px;
	border:1px solid #91fb9e;
}
.bgcolor{
	background-color:#999;
}
.statustrue{
	color:#91fb9e;
}
.statusfalse{
	color:blue;
}
.floatright{
	float:right;
	margin:0 5px;
}
